* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
	height: auto;
	margin: 0 300px;
}

.banner {
	background-color: #1e3841;
	height: 2600px;
}


/************************************* Top Logo and Heading Part *************************************/

.heading {
	height: 9.5%;
	position: relative;
}

.top {
	position: absolute;
	top: 90px;
	left: 275px;
	border: 3px solid #ffffff;
	border-radius: 50%;
}

.logo {
	background-color: #2b95be;
	padding: 18px 13px;
	border-radius: 50%;
	margin: 5px;
}

.top>.logo>i {
	font-size: 35px;
}

.top-aside {
	position: absolute;
	top: 90px;
	left: 390px;
}

.top-aside p {
	text-transform: uppercase;
	font-weight: bold;
}

.top-aside p:first-child {
	color: #e23e21;
	font-size: 50px;
}

.top-aside p:last-child {
	color: #ffffff;
	font-size: 17px;
}


/************************************* Wrapper Class of Grid Container *************************************/

.wrapper {
	display: grid;
	margin: 100px;
	margin-top: 0px !important;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(140px, auto);
	row-gap: 40px;
}

.box {
	padding: 40px;
	color: #ffffff;
	line-height: 25px;
}

.make-bold {
	font-weight: bold;
}

.make-underline {
	text-decoration: underline;
}


/************************************* Box 1 of Grid Wrapper Container *************************************/

#box1 {
	background-color: #F3A807;
	border-right: 2px solid #1e3841;
	text-align: center;
}

#box1>i {
	font-size: 35px;
}

#box1 i:nth-child(1) {
	color: #000000;
}

#box1 i:nth-child(2) {
	color: #000000;
}

#box1 i:nth-child(3) {
	color: #E23E21;
}

#box1 p:nth-child(4) {
	font-size: 40px;
	text-transform: uppercase;
	margin: 10px;
}

#box1 p:nth-child(6) {
	font-size: 25px;
	text-transform: uppercase;
	line-height: 35px;
}


/************************************* Box 2 of Grid Wrapper Container *************************************/

#box2 {
	background-color: #2B95BE;
	padding: 30px;
	line-height: 27px;
	text-align: center;
}

#box2 p>i {
	font-size: 38px;
	color: #000000;
}

#box2 p i {
	margin-right: 5px;
}

#box2 p:nth-child(2) {
	font-size: 40px;
	margin-top: 20px;
}

#box2 p:nth-child(3) {
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 8px;
}

#box2 p:nth-child(5) {
	font-size: 23px;
	text-transform: uppercase;
	margin: 5px;
}

#box2 p:nth-child(6) {
	padding-left: 5px;
	margin: 5px;
}


/************************************* Box 3 of Grid Wrapper Container *************************************/

#box3 {
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 35px 30px;
	background-color: #E23E21;
}

.left-heading {
	float: left;
	font-size: 25px;
	width: 65%;
	text-transform: uppercase;
	line-height: 35px;
	margin-bottom: 15px;
}

.clear-float {
	clear: left;
	text-align: justify;
}

.right-icons {
	float: right;
}

.right-icons i {
	font-size: 27px;
	color: #000000;
	padding: 0px 20px;
	text-align: center;
}

.right-icons p {
	text-align: left;
	margin-top: 12px;
	margin-left: 10px;
}


/************************************* Box 4 of Grid Wrapper Container *************************************/

#box4 {
	background-color: #2B95BE;
	padding: 35px 30px;
	padding-right: 5px;
}

#box4 p:nth-child(1) {
	text-align: left;
	font-size: 25px;
	text-transform: uppercase;
	padding-bottom: 15px;
}

#box4 p i {
	font-size: 45px;
	color: #000000;
	margin: 10px;
}

#box4 p:nth-child(2) {
	text-align: left;
	padding-bottom: 20px;
}

#box4 p:nth-child(3) {
	text-align: left;
}


/************************************* Box 5 of Grid Wrapper Container *************************************/

#box5 {
	background-color: #2B95BE;
	padding: 35px 30px;
	padding-left: 5px;
}

#box5 p:nth-child(1) {
	text-align: left;
	padding-bottom: 20px;
	margin-top: 78px;
}

#box5 p:nth-child(2) {
	text-align: left;
	margin-top: 28px;
}


/************************************* Box 6 of Grid Wrapper Container *************************************/

#box6 {
	background-color: #E23E21;
	border-right: 2px solid #1e3841;
	text-align: center;
}

#box6 p:nth-child(1) {
	font-size: 24px;
	text-transform: uppercase;
	margin: 10px;
}

#box6 p:nth-child(3) {
	font-size: 40px;
	text-transform: uppercase;
	line-height: 35px;
	margin: 10px;
}

#box6>i {
	font-size: 65px;
	color: #F3A807;
}


/************************************* Box 7 of Grid Wrapper Container *************************************/

#box7 {
	background-color: #F3A807;
	padding-top: 35px;
	text-align: center;
}

#box7 p:nth-child(2) {
	font-size: 25px;
	text-transform: uppercase;
	margin: 10px;
}

#box7 p:nth-child(4) {
	font-size: 40px;
	text-transform: uppercase;
	line-height: 35px;
	margin: 10px;
}

#box7>i {
	font-size: 65px;
	color: #E23E21;
}


/************************************* Box 8 of Grid Wrapper Container *************************************/

#box8 {
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 35px 40px;
	background-color: #2B95BE;
}

.left-part {
	float: left;
	width: 70%
}

.left-part p:first-child {
	font-size: 50px;
	text-transform: uppercase;
	line-height: 50px;
	padding-bottom: 10px;
}

#box8 .right-icons i {
	font-size: 90px;
	padding-right: 20px;
}


/************************************* Box 9 of Grid Wrapper Container *************************************/

#box9 {
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 35px 40px;
	background-color: #F3A807;
}

.left-part1 {
	float: left;
	width: 70%;
}

.left-part1 p:first-child {
	font-size: 50px;
	text-transform: uppercase;
	line-height: 50px;
	padding-bottom: 10px;
}

#box9 .right-icons i {
	font-size: 105px;
	padding-right: 20px;
	color: #E23E21;
}


/************************************* Box 10 of Grid Wrapper Container *************************************/

#box10 {
	background-color: #2B95BE;
	border-right: 2px solid #1e3841;
	text-align: center;
	padding: 70px 20px;
}

#box10 p:last-child {
	font-size: 50px;
	line-height: 60px;
	text-transform: uppercase;
	margin: 10px;
}

#box10>i {
	font-size: 45px;
	color: #000000;
}


/************************************* Box 11 of Grid Wrapper Container *************************************/

#box11 {
	background-color: #E23E21;
	text-align: center;
}

#box11 p:first-child {
	font-size: 24px;
	line-height: 35px;
	text-transform: uppercase;
	padding-bottom: 10px;
}


/************************************* End of CSS *************************************/